.roomSection {
    height: 100%;
    padding: 0 1rem;
    font-family: 'system-ui, sans-serif';
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .roomConnectArea {

    .roomTitle {
        width: 100%;
        height: 200px;
        background-color: #D9D9D9;
        line-height: 200px;
        margin: 0 0 16px;
    }

        .inputWrap {
            display: flex;
            flex-direction: column;
            gap: 8px;

            input {
                height: 50px;
                border: 1px solid #D9D9D9;
                border-radius: 10px;
                font-size: 16px;
                padding: 0 16px;
            }
        }
    }
}

.membersSection {
    height: 100%;
    padding: 0 1rem;
    font-family: 'system-ui, sans-serif';
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .membersListWrap {
        padding-top: 60px;
    
        .membersTitleWrap {
            display: flex;
            justify-content: space-between;
            
            .backBtn {
                
            }
        }

        .membersList {
            width: 100%;
    
            .players {
                font-size: 12px;
                text-align: start;
                margin: 8px 0;
            }
            .membersWrap {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
    
                .member {
                    width: 100%;
                    background-color: #F3F3F3;
                    text-align: start;
    
                    > p{
                        padding: 0 1.5rem;
                    }
                }
            }
        }
    }
    .gameStateBtn {
        padding-bottom: 120px;
    }
}

/* @media screen and (min-width: 768px) {
    .roomSection {
        height: 58%;
    }
    .membersSection {
        height: 58%;
    }
}

@media screen and (min-width: 1080px) {
    .roomSection {
        height: 66%;
    }
    .membersSection {
        height: 66%;
    }
} */