.roomSection {
    width: 80%;
    height: 100%;
    font-family: 'system-ui, sans-serif';
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .roomConnectArea {

        .roomTitle {
            width: 100%;
            margin: 0 0 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .inputWrap {
            display: flex;
            flex-direction: column;
            gap: 8px;

            input {
                height: 50px;
                border: 1px solid #D9D9D9;
                border-radius: 5px;
                font-size: 16px;
                padding: 0 16px;
            }
        }
    }
}

.membersSection {
    width: 80%;
    height: 100%;
    font-family: 'system-ui, sans-serif';
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .membersListWrap {
    
        .membersTitleWrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .membersList {
            width: 100%;
            margin-top: 2rem;
    
            .players {
                font-size: 12px;
                text-align: start;
            }
            .membersWrap {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;

                .NotMember, .Member, .My {
                    width: 100%;
                    height: 50px;
                }
                .NotMember {
                    background-color: #F3F3F3;
                }

                .Member, .My {
                    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.10);
                    text-align: start;
                    
                    > p{
                        margin: 0;
                        line-height: 50px;
                        padding: 0 1.5rem;
                    }
                }
                .Member {
                    background-color: #fff;
                }
                .My {
                    background: linear-gradient(150deg, #FFF -54.29%, #FFF 65.6%, #D4FFED 129.07%);
                }
            }
        }
    }
}

.systemLog {
    height: 2.5rem;
    background-color: #111;
    color: #eee;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    overflow: auto;
}

.claimHostArea {
    margin-top: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.claimHint {
    font-size: 12px;
    color: #555;
}

/* @media screen and (min-width: 768px) {
    .roomSection {
        height: 58%;
    }
    .membersSection {
        height: 58%;
    }
}

@media screen and (min-width: 1080px) {
    .roomSection {
        height: 66%;
    }
    .membersSection {
        height: 66%;
    }
} */
