@import '../../../utils/Color/_variables.css';

.btn {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    color: #fff;
    cursor: pointer;
    transition: border-color 0.25s;
    background: var(--mainColor);
}
.btn:hover {
    border-color: #646cff;
}
.btn:focus,
.btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
