:root {
    --attackColor: #CB4A4A;  /* 攻撃カードの色 */
    --defenseColor: #53659F;  /* 防御カードの色 */
    --healColor: #99DD96;  /* 回復カードの色 */
    --specialColor: #fff;  /* スペシャルカードの色(開発時のみ) */
    
    --textColor: #010418;  /* 文字の色 */

    --mainColor: #F87355; /* メインの色 */

    --gray: #E6E6E6;  /* 灰色 */
    --grayText: #8C8C8C;  /* 灰色のテキスト */
    --whiteText: #FFFFFF;  /* 白色のテキスト */
    --red: #EC6F7C;  /* 赤色 */
    --bgHover: #D9D9D9;  /* ホバーした時の背景 */
}

/* 
例）
    @import '../../utils/Color/_variables.css';

    .test {
        background-color: var(--mouseColor);
    } 
*/